
.controls {
	padding: 0 3px;
}
.controls > * {
	margin: 5px 2px;
	display: inline-block;
}
.controls i {
	display: inline-block;
	vertical-align: bottom; /* always specify vertical-align with display: inline-block; */
	font-size: 16px;
	height: 16px;
}
.dropdown-button {
	padding: 3px 4px;
}
.menu-item {
	padding: 2px 5px;
}

.track {
	padding: 5px;
}

.muted.audio-track canvas {
	opacity: 0.3;
}

.beat-marking {
	border-left: 1px solid currentColor;
	height: 100%;
	opacity: 0.5;
}
.beat-marking.sub {
	height: 50%;
	opacity: 0.3;
}

.position {
	border-left: 1px solid currentColor;
}
.track:not(:last-child) .position {
	height: 150%;
}

.audio-editor button:focus {
	outline: 0;
}
.audio-editor {
	font-family: sans-serif;
}
