
.controls {
	padding: 0 3px;
}
.controls > * {
	margin: 5px 2px;
	display: inline-block;
}
.controls i {
	display: inline-block;
	vertical-align: bottom; /* always specify vertical-align with display: inline-block; */
	font-size: 16px;
	height: 16px;
}
.dropdown-button {
	padding: 3px 4px;
}
.menu-item {
	padding: 2px 5px;
}

.track {
	padding: 5px;
}

.add-track .track-content {
	padding: 5px;
}

.audio-clip {
	fill: none;
	stroke-linejoin: bevel;
	stroke-width: 1.5px;
}
.muted .audio-clip {
	opacity: 0.3;
}

.beat-marking {
	border-left: 1px solid currentColor;
	height: 100%;
	opacity: 0.5;
}
.beat-marking.sub {
	height: 50%;
	opacity: 0.3;
}

.position {
	border-left: 1px solid currentColor;
	opacity: 0.5;
}
/* This would be if we were doing an Audacity sort of thing.
.audio-editor:not(.playing) .position {
	opacity: 0;
}
*/
/* @TODO: make .position be one element that spans multiple tracks */
.track:not(:last-child):not(:nth-last-child(2)) .position {
	height: calc(100% + 10px); /* = .track{height} + .track{padding-top} + .track{padding-bottom} */
}

.audio-editor button:focus {
	outline: 0;
}
.audio-editor {
	font-family: sans-serif;
}
