
@import "../../node_modules/elementary.css/lib/elementary.css";
@import "./elementary-shared.css";

.audio-editor {
	background: #dedede;
	color: black;
}

.audio-clip {
	stroke: #2F2F2F;
}

/* @FIXME: first beat marking looks bad against the edge */
