
@import url("./lib/elementary.css");
@import url("./elementary-shared.css");

.button[aria-pressed="true"] {
	background-color: rgba(0,0,0,.05) !important;
	background-image: none;
	border-color: rgba(0,0,0,.25);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.05),0 1px 0 0 rgba(255,255,255,.3);
}

.menu .menuitem:focus {
	outline: 0;
	background-color: rgba(51, 51, 51, 0.15);
}

.audio-editor {
	background: #dedede;
	color: black;
}

.audio-clip {
	stroke: #2F2F2F;
}

/* @FIXME: first beat marking looks bad against the edge */
