
@import url("../../lib/elementary.css");

.audio-editor {
	background: #dedede;
	color: black;
}

.beat-track .track-content {
	height: 24px;
}

.audio-clip {
	/*color: rgba(0, 155, 255, 0.42);*/
	/*color: rgba(255, 100, 0, 0.42);*/
	color: #2F2F2F;
}

.selection {
	/* @TODO: try the elementary selection styles with the gradient */
	background: rgba(0, 193, 255, 0.25);
	box-shadow: 0 0 0px 1px rgba(0, 193, 255, 0.5);
	/*background: rgba(250, 255, 0, 0.25);
	box-shadow: 0 0 0px 1px rgba(255, 196, 0, 0.5);*/
}
/*.selection {
	color: #6f6f6f;
	border-style: solid;
	border-width: 1px 0;
	background-color: transparent;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .11), rgba(0, 0, 0, .07));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .11), rgba(0, 0, 0, .07));
	-webkit-border-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .25), rgba(255, 255, 255, .3)) 1 1 1 1;
	-o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(255, 255, 255, .3)) 1 1 1 1;
	border-image: linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(255, 255, 255, .3)) 1 1 1 1;
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .03), inset 0 -1px 0 0 rgba(0, 0, 0, .1)
}*/
