
@import "../../node_modules/elementary.css/lib/elementary-dark.css";
@import "./elementary-shared.css";

/* FIXME: border around selection is light on the left/right
but on the top/bottom it's cut off by the border of the track */

.audio-clip,
.midi-notes rect {
	filter: drop-shadow(0 1px rgba(0,0,0,.4));
	-webkit-filter: drop-shadow(0 1px rgba(0,0,0,.4));
}

.dropdown-menu {
	/* XXX: FIXME: should be done from elementary-shared.css */
	box-shadow: 0 0 0 1px rgba(0,0,0,.6),0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
