
.controls .floated button {
	border: 1px solid transparent !important;
	box-shadow: none;
	background: transparent;
	border-radius: 50% !important;
	width: 26px;
	height: 26px;
	margin-left: 8px;
	padding: 0;
}
.controls .floated button:active,
.controls .floated .menu-open button {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}
.controls .floated button:focus {
	border-radius: 2px !important;
	border-color: #3d9bda !important;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.05),inset 0 1px 0 0 rgba(255,255,255,.45),inset 0 -1px 0 0 rgba(255,255,255,.15),0 0 0 1px rgba(61,155,218,.25);
}
.controls .floated button > i {
	color: transparent !important;
	text-shadow: none;
	width: 24px;
	height: 24px;
}
.controls .floated button > i::before {
	/* for Microsoft Edge */
	display: none !important;
}
.controls .floated button[title="Settings"] > i {
	background: url("./images/gear.svg");
}

.controls .floated button[title="Export"] > i {
	background: url("./images/document-export.svg");
}

.beat-track .track-content,
.unknown-track .track-content {
	height: 24px; /* = height of buttons */
}
.unknown-track .track-content {
	display: flex;
	align-items: center;
	padding: 0 3px;
}

.add-track .track-content {
	padding: 1em;
}

.selection {
	/* @TODO: try the elementary selection styles with the gradient */
	background: rgba(0, 193, 255, 0.25);
	box-shadow: 0 0 0px 1px rgba(0, 193, 255, 0.5);
}
.position {
	transform: translateX(-1px);
	border-left: 1px solid white;
	border-right: 1px solid black;
}
/* @FIXME: buttons never appear pressed in Firefox */
