
.audio-editor {
	background: #EDF2F8;
	background-image: url("paper.jpg");
	background-size: calc((90/4) / (594/20) * 1783px);
	color: #000C48;
}

.track {
	padding: 5px;
}

.beat-marking {
	border-left: 1px solid red;
	height: 100%;
	opacity: 0.5;
}
.beat-marking.sub {
	height: 50%;
	opacity: 0.5;
	border-color: currentColor;
}
.audio-editor button {
	background: transparent;
	border: 0;
	color: inherit;
	padding: 0;
	width: calc(90px / 4);
}
.audio-editor button.toggle:not(.active) > * {
	opacity: 0.2;
}

.selection {
	background: rgba(255, 251, 0, 0.59);
	/*background: rgba(255, 251, 0, 0.25);
	box-shadow: 0 0 0px 1px rgba(146, 162, 0, 0.5);*/
}
.audio-clip {
	/* Make the waveform go on top of the selection so it looks like it's been marked with a highlighter */
	z-index: 1;
}

/* It turns out that this texturing was dependent on this exact width (which was given in ems in layout.css) */
.track-controls {
	width: 64px; /* = .track-content {margin-left} */
}
.track-content {
	margin-left: 64px; /* = .track-controls {width} */
}
