
.audio-editor {
	/* Change me! */
	background: black;
	color: #FFA600;
}

.track-content {
	background-color: rgba(255, 39, 0, 0.27);
	padding: 2px;
}

.audio-editor button {
	background: transparent;
	border: 0;
	color: inherit;
}
.audio-editor button.toggle:not(.active) > * {
	opacity: 0.2;
}

.selection {
	/*background: rgba(0, 193, 255, 0.25);
	box-shadow: 0 0 0px 1px rgba(0, 193, 255, 0.5);*/
	background: rgba(146, 29, 208, 0.25);
	box-shadow: 0 0 0px 1px rgba(241, 104, 217, 0.5);
}
/* This can be used (in place of the above rule) to make this theme entirely monochrome:
.selection {
	box-shadow: 0 0 0px 1px currentColor;
	opacity: 0.5;
}
.selection::after {
	content: "";
	display: block;
	height: 100%;
	background: currentColor;
	opacity: 0.5;
}
*/
