
.audio-editor {
	background: black;
	color: white;
}

.track {
	padding: 5px;
}

.beat-markings {
	height: 1em;
}
.beat-marking {
	border-left: 1px solid currentColor;
	height: 1em;
	opacity: 0.5;
}
.beat-marking.sub {
	opacity: 0.3;
	height: 0.5em;
}

.audio-editor button {
	background: transparent;
	border: 0;
	color: inherit;
}
.audio-editor button.toggle:not(.active) > * {
	opacity: 0.2;
}

.selection {
	background: rgba(0, 193, 255, 0.25);
	box-shadow: 0 0 0px 1px rgba(0, 193, 255, 0.5);
}
