
.audio-editor {
	background: black;
	color: white;
}

.track-content {
	padding: 2px;
}

.audio-editor button {
	background: transparent;
	border: 0;
	color: inherit;
}
.audio-editor button.toggle:not(.active) > * {
	opacity: 0.2;
}

.controls {
	border-bottom: 1px solid currentColor;
}
.record {
	padding-right: 0;
}
.prerecording-dropdown {
	padding-left: 0;
	/* opacity: 0.5; */
	vertical-align: middle;
}

.selection {
	box-shadow: 0 0 0px 1px currentColor;
}
