
.audio-editor {
	background: black;
	color: white;
}

.track-content {
	padding: 2px;
}

.audio-editor button {
	background: transparent;
	border: 0;
	color: inherit;
}
.audio-editor button.toggle:not(.active) > * {
	opacity: 0.2;
}

.controls {
	border-bottom: 1px solid currentColor;
}
.record {
	padding-right: 0;
}
.dropdown-button {
	padding-left: 0;
	vertical-align: middle;
}
.controls,
.controls > span,
.dropdown-button-container,
.menu-positioner,
.menu-positioner .menu {
	background: inherit;
}
.controls .menu-positioner .menu {
	top: 5px; /* = .controls > * { margin-bottom } */
}
.menu-positioner .menu {
	border: 1px solid currentColor;
	border-top: 0;
	/*box-shadow: 0 3px 0 1px black;*/
}
.menu-positioner .menu::before {
	content: "";
	pointer-events: none;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 1px;
	bottom: -1px;
	background: inherit;
	z-index: -1;
	/*outline: currentColor 1px solid;*/
	/*outline-offset: -1px;*/
}
.menu-positioner .menu::after {
	content: "";
	pointer-events: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border: 1px solid currentColor;
	border-top: 0;
}

.selection {
	box-shadow: 0 0 0px 1px currentColor;
}
