
.audio-editor {
	background: black;
	color: white;
}

.track-content {
	padding: 2px;
}
/* @TODO: make .position be one element that spans multiple tracks */
.track:not(:last-child):not(:nth-last-child(2)) .position {
	height: calc(100% + 10px + 2px * 2); /* = .track{height} + .track{padding-top} + .track{padding-bottom} + .track-content{padding-top} + .track-content{padding-bottom} */
}

.audio-clip {
	stroke: currentColor;
}

/* @FIXME: .add-track just looks silly and out of place being the only text outside of menus and infobars */
.add-track button {
	font: inherit;
	font-weight: bold;
	cursor: pointer;
	padding: 0;
}

/* @FIXME: accessibility */
.audio-editor button {
	background: transparent;
	border: 0;
	color: inherit;
}
/* @TODO: use aria-pressed attribute */
.audio-editor button.toggle:not(.active) > * {
	opacity: 0.2;
}

.controls {
	border-bottom: 1px solid currentColor;
}
.record {
	padding-right: 0;
}
.dropdown-button {
	padding-left: 0;
	vertical-align: middle;
}
.controls,
.controls > span,
.dropdown-button-container,
.menu-positioner,
.menu-positioner .menu {
	background: inherit;
}
.controls .menu-positioner .menu {
	top: 5px; /* = .controls > * { margin-bottom } */
}
.menu-positioner .menu {
	border: 1px solid currentColor;
	border-top: 0;
}
.menu-positioner .menu::before {
	content: "";
	pointer-events: none;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 1px;
	bottom: -1px;
	background: inherit;
	z-index: -1;
}
.menu-positioner .menu::after {
	content: "";
	pointer-events: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border: 1px solid currentColor;
	border-top: 0;
}
.menu-item {
	padding: 4px 6px;
	position: relative;
}
.menu-item:hover::after,
.menu-item:active::after,
.menu-item:focus::after {
	content: "";
	pointer-events: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: currentColor;
	opacity: 0.2;
}

.selection {
	box-shadow: 0 0 0px 1px currentColor;
}
.selection.cursor { /* 0-width selection */
	box-shadow: none;
	border-left: 1px solid currentColor;
	opacity: 0.7;
}
