
@import url("./base.css");

.audio-editor {
	color: #FFA600;
}

.track-content {
	background-color: rgba(255, 39, 0, 0.27);
}

.selection {
	background: rgba(146, 29, 208, 0.25);
	box-shadow: 0 0 0px 1px rgba(241, 104, 217, 0.5);
}