
@import url("./base.css");

.selection {
	box-shadow: 0 0 0px 1px currentColor;
	opacity: 0.5;
}
.selection::after {
	content: "";
	display: block;
	height: 100%;
	opacity: 0.5;
}
.selection::after,
.menu-item:hover::after,
.menu-item:active::after,
.menu-item:focus::after {
	background: currentColor;
}
