
$background-color: black !default;

.audio-editor {
	background-color: $background-color;
	color: $color;
}

.track-content {
	padding: 2px;
}

.audio-clip {
	stroke: $color;
}

.midi-notes rect {
	fill: $color;
}

.audio-editor .info-bar .button {
	font: inherit;
	border: 1px solid $color;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.audio-editor .info-bar .button:hover,
/*.audio-editor .info-bar .button:focus,*/
.audio-editor .info-bar .button:active {
	background: color($secondary-color alpha(20%));
}

/* FIXME: accessibility */
.audio-editor button {
	background: transparent;
	border: 0;
	color: inherit;
}
.audio-editor button[aria-pressed="false"] > * {
	opacity: 0.2;
}

.controls,
.info-bar {
	border-bottom: 1px solid $color;
}
.controls {
	position: relative;
}
.record {
	padding-right: 0;
}
.dropdown-button {
	padding-left: 0;
	vertical-align: middle;
}
.menu-positioner {
	bottom: 0;
	position: absolute;
}
.menu-positioner .menu {
	background-color: $background-color;
	border: 1px solid $color;
	border-top: 0;
}
.menu-positioner .menu::before {
	content: "";
	pointer-events: none;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 1px;
	bottom: -1px;
	background: inherit;
	z-index: -1;
}
.menu-positioner .menu::after {
	content: "";
	pointer-events: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border: 1px solid $color;
	border-top: 0;
}
.menu-item {
	padding: 4px 6px;
	position: relative;
}
.menu-item[disabled] {
	color: color($color alpha(50%));
}
.selection,
.menu-item:not([disabled]):hover,
.menu-item:not([disabled]):active,
.menu-item:focus {
	background: color($secondary-color alpha(20%));
}
.menu hr {
	border: 0;
	margin: 0;
	border-bottom: 1px solid color($color alpha(50%));
}

.selection {
	box-shadow: 0 0 0px 1px color($secondary-color alpha(50%));
}
.selection.cursor { /* 0-width selection */
	box-shadow: none;
	border-left: 1px solid $secondary-color;
	opacity: 0.7;
}

::-webkit-scrollbar {
	background: transparent;
	display: block;
}
::-webkit-scrollbar * {
	background: transparent;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-track {
	border: 1px solid transparent;
	background: color($color alpha(0.1));
}
::-webkit-scrollbar-thumb {
	border: 1px solid transparent;
	background: color($color alpha(0.2));
}
::-webkit-scrollbar-thumb:hover {
	background: color($color alpha(0.5));
}
::-webkit-scrollbar-thumb:active {
	background: $color;
}
