
.audio-editor {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.menu-positioner {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 !important;
	padding: 0 !important;
}
.dropdown-menu {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
}
.menu-item {
	cursor: default;
	white-space: nowrap;
}

.tracks {
	height: 100%;
}

.track-controls {
	float: left;
	width: 6em; /* = .track-content {margin-left} */
}
.track-controls {
	white-space: nowrap;
}
.track-controls > .linked {
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}
.track-content {
	margin-left: 6em; /* = .track-controls {width} */
}
/* @TODO: scrollable track content */

.beat-markings {
	height: 1em;
}

.selection,
.position {
	position: absolute;
	top: 0;
	height: 100%;
}

/* @TODO: remove Gtk-isms */
GtkInfoBar:not(.visible) {
	height: 0px;
	border-width: 0px;
	overflow: hidden;
}
GtkInfoBar {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 5px;
	transition: height 0.2s ease;
}
GtkInfoBar > GtkLabel {
	flex: 1;
}

* {
	box-sizing: border-box;
}
