
.audio-editor {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.track-controls {
	float: left;
	width: 4em; /* = .track-content {margin-left} */
}
.track-content {
	margin-left: 4em; /* = .track-controls {width} */
}

.beat-markings {
	height: 1em;
}

* {
	box-sizing: border-box;
}
