
.audio-editor {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.menu-positioner {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 !important;
	padding: 0 !important;
}
.dropdown-menu {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
}
.menu-item {
	cursor: default;
	white-space: nowrap;
}

.tracks {
	height: 100%;
}

.track-controls {
	float: left;
	width: 4em; /* = .track-content {margin-left} */
}
.track-content {
	margin-left: 4em; /* = .track-controls {width} */
}

.beat-markings {
	height: 1em;
}

GtkInfoBar {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 5px;
}
GtkInfoBar > GtkLabel {
	flex: 1;
}

* {
	box-sizing: border-box;
}
