
.audio-editor {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	display: flex;
	flex-direction: column;
}

.menu-positioner {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 !important;
	padding: 0 !important;
}
.dropdown-menu {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
}
.menu-item {
	cursor: default;
	white-space: nowrap;
}

.tracks-area {
	flex: 1;
	display: flex;
}
.track-content-area {
	display: flex;
	flex-direction: column;
	flex: 1;
	/*overflow-x: hidden;*/
	/*overflow-y: auto;*/
	overflow: auto;
	/*margin-left: 6em; /* = .track-controls {width} */
	/*overflow: visible;*/
}
.track {
	flex-shrink: 0;
	/*overflow: hidden;*/
}
.track.pinned {
	order: -1;
}

.add-track button ~ span {
	cursor: default;
	user-select: none;
}
.track p {
	user-select: text;
	-ms-user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
}

.tracks-area {
	min-height: 0; /* needed for vertical scrolling to work in all browsers */
	/* http://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox */
}
.track-controls-area {
	width: 104px;
	overflow: hidden;
	position: relative;
}
.track-controls {
	position: absolute;
	left: 8px;
	white-space: nowrap;
}
.track-controls > .linked {
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}
.track-content {
	overflow: hidden;
}

.beat-markings {
	height: 1em;
}

.audio-clip {
	height: 100%;
	transform: translateZ(0);
}
.audio-clip path {
	pointer-events: none;
}

.selection,
.position {
	position: absolute;
	top: 0;
	height: 100%;
}
.selection {
	z-index: 1;
}
.position {
	pointer-events: none;
}

/* @TODO: remove Gtk-isms */
GtkInfoBar:not(.visible) {
	height: 0px;
	border-width: 0px;
}
GtkInfoBar {
	width: 100%;
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 5px;
	transition: height 0.2s ease;
	overflow: hidden;
}
GtkInfoBar > GtkLabel {
	flex: 1;
}

* {
	box-sizing: border-box;
}

/* Mozilla Firefox */
button {
	line-height: 1;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Microsoft Edge */
button > i {
	pointer-events: none;
}
